**.DS_Store
**.ipynb_checkpoints/
**/__pycache__/
**.vscode/
git-secret-access-token

admin/
resources/
notebooks/images/
shuai-draft.m
rnn/tb_logs/
rnn/lightning_logs/
rnn/rnn_experiments.ipynb
data/
